{% extends 'index.html' %}
{% block title %}Homepage{% endblock %}
{% block style %}{% endblock %}
{% block body %}
<form method="post">{% csrf_token %}
  <h1>EDIT INVENTORY
    <button type="submit" class="btn btn-outline-cyan btn-pill" style="float: right;margin-right: auto;">
      SAVE&nbsp; &nbsp;
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-right m-0">
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path d="M5 12l14 0" />
        <path d="M13 18l6 -6" />
        <path d="M13 6l6 6" />
      </svg></button>
    <a href="{% url 'masters:user_list' %}" class="btn btn-outline-cyan btn-pill"
      style="float: right;margin-right: 1rem;">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-left">
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path d="M5 12l14 0" />
        <path d="M5 12l6 6" />
        <path d="M5 12l6 -6" />
      </svg>BACK
    </a>
  </h1>
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-2">
          <label class="form-label required" for="id_name">Name</label>
          <input value="{{item.name}}" type="text" class="form-control" name="name" id="id_name" required>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-2">
          <label class="form-label" for="id_description">Description</label>
          <input value="{{item.description}}" type="text" class="form-control" name="description" id="id_description">
        </div>
        <div class="col-sm-12 col-md-4 col-lg-2">
          <label class="form-label required" for="id_min_stock">Minimum Stock</label>
          <input value="{{item.min_stock}}" type="tel" class="form-control" name="min_stock" id="id_min_stock" required>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-2">
          <label class="form-label required" for="id_sgst">SGST</label>
          <input value="{{item.sgst}}" type="tel" class="form-control" name="sgst" id="id_sgst" required>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-2">
          <label class="form-label required" for="id_cgst">CGST</label>
          <input value="{{item.cgst}}" type="tel" class="form-control" name="cgst" id="id_cgst" required>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-2">
          <label class="form-label required" for="id_igst">IGST</label>
          <input value="{{item.igst}}" type="tel" class="form-control" name="igst" id="id_igst" required>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-2 mt-3">
          <label class="form-label required" for="id_rate">Rate</label>
          <input value="{{item.rate}}" type="tel" class="form-control" name="rate" id="id_rate" required>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-2 mt-3">
          <label class="form-label required" for="id_qty">Qty</label>
          <input value="{{ item.qty}}" type="tel" class="form-control" name="qty" id="id_qty" required>
        </div>
      </div>
    </div>
  </div>
</form>
{% endblock %}
{% block script %}{% endblock %}