{% extends 'index.html' %}
{% block title %}Homepage{% endblock %}
{% block style %}
<link
    href="https://cdn.datatables.net/v/bs5/jszip-3.10.1/dt-2.1.8/b-3.1.2/b-colvis-3.1.2/b-html5-3.1.2/date-1.5.4/fh-4.0.1/sc-2.4.3/sb-1.8.1/sp-2.3.3/sr-1.4.1/datatables.min.css"
    rel="stylesheet">
<style>
    .palm_cursor {
        cursor: pointer !important;
    }
    .purple_me{
        background-color: #FEE715FF !important;
        color: #101820FF;
        font-weight: bold;
    }
</style>
{% endblock %}
{% block body %}
<h1>INVOICES
    <a href="{% url 'invoices:invoice_create' %}" class="btn btn-outline-cyan btn-pill" style="float: right;">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-plus">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M12 5l0 14" />
            <path d="M5 12l14 0" />
        </svg>CREATE
    </a>
</h1>
<div class="row">
    <div class="col-12">
        <div class="table-responsive">
            <table id="example1" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>DATE</th>
                        <th>CUSTOMER</th>
                        <th>INVOICE NO</th>
                        <th>QTY</th>
                        <th>TAXABLE AMOUNT</th>
                        <th>TAX</th>
                        <th>TOTAL AMT.</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
<script
    src="https://cdn.datatables.net/v/bs5/jszip-3.10.1/dt-2.1.8/b-3.1.2/b-colvis-3.1.2/b-html5-3.1.2/date-1.5.4/fh-4.0.1/sc-2.4.3/sb-1.8.1/sp-2.3.3/sr-1.4.1/datatables.min.js"></script>
<script>
    var fingerpost_url = "{% url 'invoices:invoice_fingerpost' 0 %}";
    var invoice_url = "{% url 'invoices:invoice_list_api' %}";
    function load_users() {
        mt_users = new DataTable('#example1', {
            searching: true,
            lengthChange: true,
            info: true,
            paging: true,
            ordering: true,
            order: [[0, 'desc']],
            ajax: {
                url: invoice_url,
                dataSrc: ''
            },
            columns: [
                { data: 'id' },
                {
                    data: "inserted_On",
                    render: function (data, type, row) {
                        var date_time = row['inserted_On'];
                        var inv_date = date_time.split('T')[0];
                        return inv_date
                    }
                },
                { data: 'buyer' },
                { data: 'invoice_no' },
                { data: 'qty' },
                { data: 'taxable_amt' },
                { data: 'tax' },
                { data: 'total_amt' },
            ],
            createdRow: function (row, data, dataIndex) {
                $(row).addClass('masters_index palm_cursor').attr('data-id', data.id);
                if (data.status == 0){
                    $(row).addClass('purple_me');
                }
            }
        });
    }
    load_users();

    $(document).on("click", ".masters_index", function () {
        var item_id = $(this).data('id');
        var url = fingerpost_url.slice(0, -2) + item_id + '/';
        window.open(url, "_blank");
    });
</script>
{% endblock %}