{% extends 'index.html' %}
{% load static %}
{% block title %}Masters{% endblock %}
{% block style %}{% endblock %}
{% block body %}
<div class="container-xl w-50">
    <div class="card">
        <div class="card-header">
            RESET PASSWORD
        </div>
        <div class="card-body">
            <form action="" method="post">{% csrf_token %}
                <p>
                    <label class="form-label" for="id_email">Email:</label>
                    <input type="email" name="email" autocomplete="email" maxlength="254" class="form-control w-50" required="" id="id_email">
                </p>
                <button type="submit" class="btn btn-primary">
                    Reset Password
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}