{% extends 'index.html' %}
{% block title %}Homepage{% endblock %}
{% block style %}
<link
    href="https://cdn.datatables.net/v/bs5/jszip-3.10.1/dt-2.1.8/b-3.2.0/b-colvis-3.2.0/b-html5-3.2.0/fh-4.0.1/sc-2.4.3/sb-1.8.1/datatables.min.css"
    rel="stylesheet">
<style>
    .user_edit {
        cursor: pointer;
    }
</style>
{% endblock %}
{% block body %}
<div class="row">
    <div class="col-12">
        <h1>COMPANY MASTER
            <a href="{% url 'masters:company_create' %}" class="btn btn-outline-cyan btn-pill" style="float: right;">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="icon icon-tabler icons-tabler-outline icon-tabler-plus">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M12 5l0 14" />
                    <path d="M5 12l14 0" />
                </svg>ADD
            </a>
        </h1>
    </div>
    <div class="col-12">
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover" id="myTable">
                <thead>
                    <th>ID</th>
                    <th>NAME</th>
                    <th>GST</th>
                    <th>PAN</th>
                    <th>STATE</th>
                    <th>Mobile</th>
                    <th>EMAIL</th>
                    <th>SUPPLIER</th>
                </thead>
                <tbody>
                    {% for x in companies %}
                    <tr class="inventory_edit" data-id="{{x.id}}">
                        <td>{{x.id}}</td>
                        <td>{{x.name}}</td>
                        <td>{{x.gstin}}</td>
                        <td>{{x.pan}}</td>
                        <td>{{x.state}}</td>
                        <td>{{x.mobile}}</td>
                        <td>{{x.email}}</td>
                        <td>
                            {% if x.provider %}
                            Yes
                            {% else %}
                            No
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
<script
    src="https://cdn.datatables.net/v/bs5/jszip-3.10.1/dt-2.1.8/b-3.2.0/b-colvis-3.2.0/b-html5-3.2.0/fh-4.0.1/sc-2.4.3/sb-1.8.1/datatables.min.js"></script>
<script>
    let table = new DataTable('#myTable');
    let user_edit_url = `{% url 'masters:company_edit' 0 %}`;

    $(document).on("click", ".inventory_edit", function () {
        var item_id = $(this).data('id');
        var url = user_edit_url.slice(0, -2) + item_id + '/';
        window.location.href = url;
    });
</script>
{% endblock %}